:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --base-gray: #f2f2f2;

  --ff-base: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  background-color: var(--base-white);
  color: var(--base-black);
}

.container {
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  /* TODO */
  h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
  }
  /* TODO */
  .bi {
    font-size: 1.2rem;
    color: #333;
  }
  /* TODO */
  .dropdown-toggle {
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
  }
}

.header__nav {
  .nav-link {
    font-weight: 400;
    font-size: 14px;
    color: inherit;

    &.active {
      font-weight: 600;
    }
  }
}

.benefits-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--base-gray);
  color: #333;

  span {
    font-weight: 400;
    font-size: 12px;
  }
}

.hero-section {
  height: 650px;
}

.sitewide-deals-section {
  height: 150px;
}

.vip-exlusive-banner {
  height: 75px;
}

.trending-section {
  height: 1040px;
}

.new-arrivals-section {
  height: 400px;
}

.recently-bought-section {
  height: 580px;
}

.inspiration-section {
  height: 550px;
  background-color: var(--base-gray);
}

.newsletter-section {
  height: 75px;
  background-color: var(--base-black);
}

footer {
  height: 360px;
}
